.container {
  --container-padding: 20px;

  width: 100%;
  max-width: $bp-desktop;
  margin: 0 auto;
  padding-inline: var(--container-padding);

  @include tablet {
    --container-padding: 27px;
  }

  @include desktop {
    --container-padding: 50px;
  }
}
