.all-products {
  display: none;
  margin-top: 30px;

  @include desktop {
    margin-top: 81px;
  }

  &--active {
    @include grid;
  }

  &__content {
    display: flex;
    grid-column: 1 / -1;
    flex-direction: column;

    @include tablet {
      grid-column: 2 / 6;
    }

    @include desktop {
      grid-column: 4 / 10;
    }
  }
}
