.burger {
  z-index: 110;

  display: block;

  width: 20px;
  height: 13px;

  background-image: url('../images/menu.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &--active {
    width: 15px;
    height: 15px;
    background-image: url('../images/close.svg');
  }

  @include desktop {
    display: none;
  }

  &__label {
    @include visually-hidden;
  }
}
