.link {
  padding-bottom: 10px;
  border-bottom: 1px solid transparent;

  font-size: 14px;
  font-weight: $fw-medium;
  line-height: 1.3;
  color: $c-green;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;

  transition: border-color 0.3s ease;

  &:hover {
    border-color: $c-green;
  }
}
