.logo {
  &__image {
    display: block;
    width: 24px;
    height: 24px;

    @include desktop {
      content: url('../images/logo-group.svg');
      width: 270px;
      height: 50px;
    }
  }
}
