$c-dark: #333;
$c-gray-light: #eee;
$c-gray-dark: #8e8d8c;
$c-gray: #bdbdbd;
$c-light: #f2f2f2;
$c-beige: #e4dfd3;
$c-olive: #8c9772;
$c-green: #344f10;
$font-primary: 'Poppins', sans-serif;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$bp-mobile: 320px;
$bp-tablet: 640px;
$bp-desktop: 1280px;
$bp-design: 1440px;
$grid-columns-mobile: 2;
$grid-columns-tablet: 6;
$grid-columns-desktop: 12;
$grid-gap-mobile: 20px;
$grid-gap-tablet: 30px;
$grid-gap-desktop: 20px;
